body {
    font-family: "Microsoft YaHei";
    font-size: 16px;
    background-image: url("../images/bg.png");
    background-repeat: repeat;
    min-width: 678px;
}

.cstm-container,.cstm-col-padding {
    padding-left: 0;
    padding-right: 0;
}

.cstm-nav {
    height: 80px;
}

.cstm-nav li {
    font-weight: bold;
    margin-top: 36px;
}
.cstm-col-padding div{
    margin-bottom: 2px;
}
.cstm-panel-body{
    padding: 0;
}
.adminPane{
    float: right!important;
    margin-top: 50px;
    margin-right: 10px;
}
.adminPane a{
    cursor: pointer;
    color: white;
    font-weight: normal;
    float: right;
}